<%- include('header'); -%>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, reprehenderit velit. Perferendis similique quis earum provident? Laborum quisquam, sed vitae assumenda eum explicabo odit quas quia nulla? Consequatur, similique rerum!</p>
  <p>Molestiae animi quisquam tenetur consectetur non praesentium harum eius, nesciunt doloremque facilis sit, delectus voluptas enim accusamus pariatur numquam sapiente voluptatibus voluptatem, perferendis optio? Provident nihil hic excepturi eligendi tempora.</p>
  <p>Aliquid, consequuntur? Molestiae quas, in nemo delectus quam inventore, provident qui obcaecati eligendi, itaque omnis neque quae atque. Praesentium saepe cum beatae sunt qui nostrum fuga, iure ut corrupti adipisci!</p>
  <p><a href="/">Back to home page</a></p>
</div>

<%- include('footer') -%>
